.bg {
	background-color: aquamarine;
	height: 100%;
}

.table-responsive {
	max-height: 300px;
}

thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}


@media only screen and (max-width: 600px) {
	.custom-flex {
		display: flex;
		flex-direction: column;
	}

	.ms-2 {
		margin-top: 5px;
		margin-left: 0px;
		margin-right: 0;
	}
}